    .footer {
        color: $blanco;
        text-align: center;
        padding: $separacion / 2;
        p {
            font-size: 1.5rem;
        }
        a {
            color: $azul;
            font-weight: $bold;
            font-size: 1.6rem;
            transition: all ease-in .2s;
            &:hover {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                opacity: .7;
            }
        }
    }