.formulario {
    position: relative;
    color: $blanco;
    @include grid(1, 2rem);
    input {
        width: 100%;
        padding: 1.5rem;
        border-radius: 1rem;
        border: none;
    }
    label {
        display: inline-block;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    @include tablet {
        .campo {
            display: grid;
            grid-template-columns: 20% 80%;
            label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                font-size: 2rem;
            }
        }
    }
    p {
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        color: $rojo;
        font-size: 1.5rem;
        margin: 0;
        @include tablet {
            bottom: -30px;
        }
    }
}

.alerta {
    display: block;
    text-align: center;
    border-radius: 1rem;
    padding: $separacion / 2;
    &.error {
        background-color: $rojo;
    }
}

.hora-invalida {
    border: 3px solid $rojo!important;
    transition: all ease-in .5s;
}