.paginacion {
    margin-top: $separacion;
    display: flex;
    justify-content: space-between;
    button {
        background-color: $azul;
        color: $blanco;
        border: none;
        border-radius: 1rem;
        padding: 1rem 3rem;
        font-weight: $bold;
        font-size: 2rem;
        &.ocultar {
            visibility: hidden;
        }
        &:hover {
            cursor: pointer;
        }
    }
}