.invalidar-cita {
    color: $rojo;
    font-size: 1.5rem;
    text-align: center;
    margin: $separacion /2;
    text-transform: uppercase;
}

.contenido-resumen {
    color: $blanco;
    span {
        margin-top: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $azul;
    }
    p {
        margin-bottom: 1rem;
        text-align: left;
    }
    h3 {
        text-transform: uppercase;
        font-size: 2rem;
        margin: $separacion / 2 0;
    }
}

.resumen-servicios {
    p {
        padding-bottom: 1rem;
        border-bottom: 1px dotted $blanco;
    }
}

.total-pagar {
    span {
        display: inline-block;
    }
}

.seccion-pagar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        border: none;
        border-radius: 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
        color: $blanco;
        font-weight: $bold;
        background-image: $azulDeg;
        -webkit-background-clip: background;
        &:hover {
            cursor: pointer;
        }
    }
    p {
        margin: 0;
    }
}