body {
    background-color: $negro;
    @include tablet {
        overflow: hidden; // atasca la ventana del DOM tomando la altura total y dejandola fija
    }
}

.contenedor-estetica {
    @include tablet {
        height: 100vh;
        @include grid(2, 0);
    }
    .imagen {
        @include tablet {
            height: 30rem;
        }
        height: 20rem;
        background-image: url('../img/1.webp');
        background-size: cover;
        background-position: center center;
        @include tablet {
            height: auto;
        }
    }
}

.app {
    overflow: scroll;
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion / 2;
}

.seccion {
    display: none;
    margin-top: $separacion / 2;
    p {
        text-align: center;
    }
    // &:first-of-type {
    //     display: block;
    // }
}

.mostrar-seccion {
    display: block!important;
}